<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.jw.meshserializer.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.jw.meshserializer.ProjectPropertyPage"
            id="de.jw.meshserializer.projectpropertypage"
            name="Mesh Serializer">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.jdt.core.IJavaProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="de.jw.meshserializer.modelfilemarker"
         name="Model File Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>

</plugin>
